@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.border-form-login.dark {
   border: 1px solid rgb(54, 54, 54);
}

.border-form-login.light {
   border: 1px solid rgb(219, 219, 219);
}

.sub-nav-shadow {
   box-shadow: 10px 0 20px -5px rgba(0, 0, 0, 0.15);
}

@keyframes expand {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0);
   }
}

.sub-nav-keyframe {
   animation: expand 0.2s ease-out;
}

.story-border {
   background: linear-gradient(
      234deg,
      rgba(101, 0, 170, 1) 0%,
      rgba(253, 29, 29, 1) 35%,
      rgba(246, 216, 77, 1) 100%
   );
}

.hide-scrollbar::-webkit-scrollbar {
   display: none;
}
