@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.border-form-login.dark {
   border: 1px solid rgb(54, 54, 54);
}

.border-form-login.light {
   border: 1px solid rgb(219, 219, 219);
}
